@import url("./bounce.css");

body {
  font-family: "Playpen Sans", sans-serif;

  display: flex;
  align-items: center;

  flex-direction: column;

  margin: 1vh 1vw;

  color: #f5f0e1;

  font-size: x-large;

  background-image: url(./images/sparkleeee.png);
}

#projects {
  margin-top: 2vh;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 1vh 1vw;
  padding: 0 6px;
  max-width: 30%;
  width: auto;

  border: 3px dashed #fdb927;
  border-radius: 24px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.project > * > img {
  border-radius: 16px;
}

img {
  max-width: 100%;
}

a {
  color: #fdb927;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
  color: #fdb927;
}

#nyan-cat {
  width: max(9vw, 9vh);
  height: max(5vw, 5vh);
  animation: bounce 2200s infinite linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  scale: 1;
  z-index: 50;
}

#nyan-cat:hover {
  animation-play-state: paused;
}
