body 
{
  background-color: #191b41;
  color: #fdb927;
  text-align: center;
}
img {
  width: 450px;
  height: auto;
}
div {
   line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   5px;
  -moz-column-count:    4;
  -moz-column-gap:      5px;
  column-count:         4;
  column-gap:           5px;  
}